.userForm-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.main-content {
    margin-left: 310px; /* Adjust based on your sidebar width */
    padding: 20px;
    width: 100%;
    background-color: #f4f4f4; /* Optional: background for content area */
    height: max-content;
}

.user-form {
    display: grid;
    gap: 22px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Space between form groups */
}

.form-label-input {
    display: flex;
    align-items: center; /* Align label and input vertically */
    gap: 10px; /* Space between label and input */
}

.form-label-input label {
    width: 160px; /* Fixed width for labels */
    font-weight: bold;
}

.form-label-input .required {
    color: red;
    margin-left: 5px;
}

.form-input {
    flex: 1; /* Input takes remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px; 
}

.button-container {
    text-align: right; 
}

.submit-button {
    background-color: #aa18ea; 
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 28%; 
}

.submit-button:hover {
    background-color: #900ec4;
}
.button-container-edit{
    display: inline-flex;
    gap: 10px;

}
.save-button {
    background-color: #aa18ea; 
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10%; 
}
.cancel-button{
    background-color: red; 
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10%; 
    
}
.save-button:hover {
    background-color: #900ec4;
}
.cancel-button:hover{
    background-color: rgb(207, 3, 3);
}