.volunteers-container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .content {
    margin-left: 310px; /* Adjust based on your sidebar width */
    padding: 20px;
    width: 100%;
    background-color: #f4f4f4; /* Optional: background for content area */
    min-height: 100vh; /* Ensures content area covers full height */
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .add-volunteer-btn {
    background-color: #000000; /* Black button color */
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 30px;
  }
  
  .add-volunteer-btn:hover {
    background-color: #333333; /* Slightly lighter on hover */
  }
  
  /* Additional Styling for Search and Filter (if required) */
  .search-container {
    margin-bottom: 20px;
    display: flex ;
    /* width: 400px; */
    margin-right: 50px;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
 
    