.in-progress-issues-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #466FB1;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .Header h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .no-issues-message {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-top: 20px;
  }
  
  .loading-spinner {
    text-align: center;
    font-size: 20px;
    color: #666;
    padding: 20px;
  }
  
  .modal-content {
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Align center */
    
    /* Increase size */
    width: 90vw; /* 90% of the viewport width */
    max-width: 1200px; /* Maximum width */
    height: 90vh; /* 90% of the viewport height */
    max-height: 800px; /* Set maximum height for content */
    max-width: 900px;
    background: white;
    border-radius: 12px; /* Smooth corners */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* More prominent shadow */
    padding: 30px; /* More internal spacing */
    box-sizing: border-box; /* Include padding in width/height */
  }
  
  
  @media (max-width: 768px) {
    .Header h1 {
      font-size: 20px;
    }
  
    .modal-content {
      width: 95%;
    }
  }
  