/* General Layout */
.userForm-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #dcd7d7;
  }
  
  .content {
    margin-left: 310px;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  /* Header */
  .header {
    background-color: #466fb1;
    color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  
  .header h2 {
    font-size: 24px;
    font-weight: bold;
    
  }
  
  /* Form */
  .user-form {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-row {
    display: flex;
    align-items: center; /* Align label and input vertically */
    gap: 20px;
    margin-bottom: 20px;
  }
  
  label {
    width: 150px; /* Fixed width for labels */
    font-weight: bold;
  }
  
  .required {
    color: red;
    margin-left: 5px;
  }
  
  .form-input {
    flex: 1; /* Input takes the remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* Button */
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .submit-button {
    background-color: #198754;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .submit-button:hover {
    background-color: #198754;
  }
  